.search {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}
.search input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13;
    transition: 0.5s;
}

.search input[type="text"] {
    width: 300px;
    color: white;
    background: rgb(92, 92, 92);
    height: 40px;
    width: 500px;
    border: none;
    outline: none;
    padding: 0 24px;
    border-radius: 20px;
}

.search input[type="text"]::-moz-placeholder {
    color: rgb(124, 124, 124);
}

.search input[type="text"]::placeholder {
    color: rgb(124, 124, 124);
}

/* !!Container */
.container {
    /* background-color: purple; */
    position: relative;
    /* display: flex; */
    height: 7999px;
    width: 1003px;
    margin-left: 210px;
    margin-top: 100px;
    /* background-color: purple; */
}

.container .box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 120px;
    margin: 40px 20px;
    background: rgb(90, 90, 90);
    bottom: 0px;
    transition: all 0.5s;
}

.container .box:hover {
    bottom: 10px;
}

.container .box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.container .box a {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    font-size: 20px;
    text-decoration: none;
}

/* !!POP UP */
.pop_up {
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    width: 1215px;
    height: 616px;
    background-color: rgb(34, 34, 34);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
    z-index: 1000;
}

.pop_up.active {
    top: 50%;
    opacity: 1;
    pointer-events: auto;
}

.blur.blur_active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.pop_up .exit_button {
    position: absolute;
    top: -15px;
    right: -18px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);

    /* bottom: 100px; */
    width: 66px;
    height: 66px;
    background-color: rgb(27, 27, 27);
    /* opacity: 0.5; */
    z-index: 1001;
}
.pop_up .exit_button i {
    position: absolute;
    font-size: 30px;
    padding-top: 31px;
    padding-left: 23px;
    color: rgb(151, 151, 151);
    display: flex;
    align-items: center;
    /* border-right: 2px solid rgba(99, 99, 99, 0.5); */
    transition: all 0.5s;
}

/* .pop_up .exit_button i:hover {
    color: white;
} */
.pop_up .flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up .flex .kiri {
    display: flex;
    margin-left: 19px;

    max-width: 100%;
    max-height: 100%;
}

.pop_up .flex .kiri .kiri-container {
    background-color: purple;
    width: 321px;
    height: 578px;
    /* width: 1156px; */
    margin: 20px;
    transition: none;
    border-radius: 20px;
}

.pop_up .flex .kiri img {
    border-radius: 20px;
    margin-bottom: 20px;
}

.pop_up .flex .kiri video {
    border-radius: 20px;
    margin-bottom: 20px;
}

.pop_up .flex .kanan {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.pop_up .flex .kanan ul li {
    color: white;
    list-style: none;
    font-size: 30px;
    visibility: visible;
    opacity: 1;
    transition: 0.5;
}
.pop_up .flex .kanan ul li a {
    color: inherit;
    text-decoration: none;
}
.kanan ul li::before {
    margin-left: auto;
}

.kanan ul li::after,
.kanan ul li::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #f7e479;
    display: block;
    transition: 0.5s;
}

.kanan ul li:hover::after,
.kanan ul li:hover::before {
    width: 100%;
}
.desc {
    position: absolute;
    color: white;
    padding: 40px 0 0 20px;
    top: 0;
    align-items: none;
    display: none;
    opacity: 1;
    visibility: hidden;
    transition: 0.5;
}
.desc.active {
    filter: none;
    display: block;

    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.desc.active button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
}
.desc button:hover {
    background-color: #555555;
    color: white;
}
.kanan ul li {
    margin-bottom: 33px;
    cursor: pointer;
}

/* ??Transaksi */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap"); */

.transaksi {
    position: absolute;
    color: white;
    padding: 40px 0 0 1px;
    top: 0;
    align-items: none;
    display: none;
    opacity: 1;
    visibility: hidden;
    transition: 0.5;
}
.transaksi.active {
    filter: none;
    visibility: visible;
    opacity: 1;
    display: block;
    transition: 0.5s;
}
#title {
    /* font-family: "Source Sans Pro", sans-serif; */
    margin-top: 9px;
    text-align: center;
    color: white;
}
#description {
    margin-top: 5px;
    text-align: center;
    color: white;
}
/* FORM BUAT PESANAN */
.login-box {
    position: absolute;
    top: 334px;
    left: 50%;
    width: 843px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0);
    box-sizing: border-box;
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

/* .login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
        0 0 100px #03f40f;
} */

.login-box a span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f7e479);
    animation: btn-anim1 2s linear infinite;
}

/* input[type="date"]::-webkit-datetime-edit {
    color: transparent;
} */
